@import '../../../styles/colors';

$button-width: 5vh;
$triangle-width: calc(5vh / 2);

.favorite-button {
  width: $button-width;
  height: 6vh;

  background-color: $black;
  border: none;
  border-radius: 2px;

  position: absolute;
  top: -5px;
  left: 5px;
  z-index: 300;

  &:after {
    content: '';

    width: 0;
    height: 0;

    position: absolute;
    top: 100%;

    border-top: solid 1.4vh $black;
    border-left: solid $triangle-width transparent;
    border-right: solid $triangle-width transparent;
  }
}

.favorite-heart {
  width: 80%;
  height: 80%;
  color: $white;

  &.favorite {
    color: $heartRed;
  }
}
